.menu
  background-color rgb(135, 191, 114)
  float left
  transition width .5s ease-in-out
  -moz-transition width .5s ease-in-out
  -webkit-transition width .5s ease-in-out
  width 0%

.menu.active
  width 20%

.menu.is-phone.active
  width 100%

.menu ul
  overflow hidden
  white-space nowrap

  cursor pointer
  list-style-type none

